[user]
    name = tarrex
    email = tarrexchen@gmail.com
[core]
    editor = vim
    pager = less -FRX
    excludesFile = ~/.gitignore
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[merge]
    ff = only
    # conflictstyle = diff3
[commit]
    gpgSign = false
[push]
    default = simple
    followTags = true
[status]
    showUntrackedFiles = all
[transfer]
    fsckobjects = true
[gist]
    private = yes
[github]
    user = tarrex
[alias]
    prune = fetch --prune
    undo = reset --soft HEAD^
    stash-all = stash save --include-untracked
    glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[color "branch"]
    current = yellow
    local = green
    remote = cyan
    upstream = magenta
    plain = red
[color "diff"]
    context = cyan
    meta = yellow
    frag = magenta
    old = red
    new = green
    commit = white
    whitespace = red reverse
[color "status"]
    added = green
    changed = yellow
    untracked = red
[rerere]
    enabled = 1
    autoupdate = 1
